name: Build and Push Docker Images to ECR

on:
  push:
    branches:
      - master

env:
  AWS_REGION: us-east-1
  ECR_REGISTRY: 361706076089.dkr.ecr.us-east-1.amazonaws.com

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-session-token: ${{ secrets.AWS_SESSION_TOKEN }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v1

      - name: Build and push application image
        run: |
          docker build -t ${{ env.ECR_REGISTRY }}/clo835-app:latest ./application
          docker push ${{ env.ECR_REGISTRY }}/clo835-app:latest

      - name: Build and push MySQL image
        run: |
          docker build -t ${{ env.ECR_REGISTRY }}/clo835-mysql:latest ./mysql
          docker push ${{ env.ECR_REGISTRY }}/clo835-mysql:latest
